.map-container {
    height: 50vh;
    width: 80vh;
}

.custom-table {
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custom-table th, .custom-table td {
    padding: 12px;
    text-align: left;
  }
  
  .custom-table thead {
    background-color: #343a40;
    color: #fff;
  }
  
  .custom-table tbody tr:hover {
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 75%;
    margin: 0 auto;
  }
  
  h2 {
    color: #333;
  }
  
  button {
    margin-right: 10px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}